:root {
    --dark-text: #f3fee1;
    --dark-background: #090f00;
    --dark-primary: #818f66;
    --dark-secondary: #374e41;
    --dark-accent: #50716c;

    --light-text: #131e01;
    --light-background: #f9fff0;
    --light-primary: #8c9970;
    --light-secondary: #b1c8bb;
    --light-accent: #8eafaa;
}

:root {
    --text: var(--light-text);
    --background: var(--light-background);
    --primary: var(--light-primary);
    --secondary: var(--light-secondary);
    --accent: var(--light-accent);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: var(--dark-text);
        --background: var(--dark-background);
        --primary: var(--dark-primary);
        --secondary: var(--dark-secondary);
        --accent: var(--dark-accent);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --text: var(--light-text);
        --background: var(--light-background);
        --primary: var(--light-primary);
        --secondary: var(--light-secondary);
        --accent: var(--light-accent);
    }
}

.dark {
    --text: var(--dark-text);
    --background: var(--dark-background);
    --primary: var(--dark-primary);
    --secondary: var(--dark-secondary);
    --accent: var(--dark-accent);
}

.light {
    --text: var(--light-text);
    --background: var(--light-background);
    --primary: var(--light-primary);
    --secondary: var(--light-secondary);
    --accent: var(--light-accent);
}

body {
    font-family: monospace;
    color: var(--text);
    background-color: var(--background);
    display: flex;
    flex-flow: column nowrap;
}

button {
    all: unset;
    width: fit-content;
    user-select: none;
    padding: 1%;
    margin: .1vh;
    background-color: var(--primary);
    color: var(--background);
    border-radius: 1vw;
}

button:hover,
button:focus {
    background-color: var(--secondary);
    color: var(--color-text);
}

button:hover {
    box-shadow: 0px 0px 2vw var(--accent);
}

button:active {
    background-color: var(--primary);
    color: var(--background);
}

#darkmode {
    position: absolute;
    top: 1vh;
    right: 1vw;
}

#tab {
    display: flex;
    flex-wrap: wrap;
    margin: 1vh 0px;
}

#encounter {
    display: flex;
    flex-wrap: wrap;
    margin: 1vh 0px;
    justify-content: space-evenly;
}

table{
    width: 100%;
}

th{
    border: 1px solid var(--primary);
}